.stage-step {
    .bundles-options-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .bundles {
            padding: 18px;
            background-color: #F4F6F8;
            width: 250px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 10px;
            margin-bottom: 20px;

            h5 {
                position: relative;
                    top: -6px;
                    left: 74px;
            }
            .core-choice {
                height: 30px;
                margin-bottom: 18px;
                p {
                    position: relative;
                    top: -18px;
                }
            }

            .add-ons-choice {
                height: 30px;

                .addons-container {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    p {
                        position: relative;
                        top: -18px;
                        margin-bottom: 3px;
                        margin-top: 3px;
                    }
                }
                
            }

            .card-footer {
                display: flex;
                margin-top: 60px;
                
                .price-container {
                    position: relative;
                    bottom: 3px;
                    left: 5px;
                    height: 40px;

                    h1 {
                        color: #343A3F;
                        margin-left: 3px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 700;
                        position: relative;
                        top: 8px;
                    }
                }
            }
        }
    }
}