.user-profile-container {

    display: flex;
    justify-content: center;

    .form-box {
        background-color: white;
        box-shadow: 0 8px 20px #E5E5E5;
        width: auto;
        padding: 40px;
    }
}


