.sign-up-container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 10px;
  background-color: white;
  
  h2 {
    padding-top: 20px;
    font-size: large;
    text-align: center;
    margin-top: 30px;
    color: #1ba94c;
  }

  .buttons-container {
    padding-right: 35px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-end;
  }
}
