.sticky {

    position: sticky;
    background: white;
    width: 300px;
    min-height: 300px;
    height: fit-content;
    top: 272px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px #E5E5E5;
    color: black;
    margin-right: 150px;
    border-radius: 10px;
    margin-top: 73px;

    
    .buttons-container {
        width: auto;
    }

    
}